h1 {
    font-size: 70px;
}

p {
    color: rgb(145, 87, 87);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    color: rgb(143, 131, 131);
    font-size: 20px;
}

#speical-heading {
    background-color: blue;
}

.title {
    color: rgb(198, 45, 3);
}

.highlighted-text {
    background-color: sienna;
    text-decoration: wavy;
}


a:hover {
    font-size: larger;
    color: darkgoldenrod;
    text-decoration: none;
}